<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <h1>The checklist</h1>
        
        <!-- <p v-bind:title="message" v-for="todo in todos" @click="inverser">
        {{ todo }}
        </p> -->
        <ajout @nouvellenote="ajouterNote"></ajout>
        <note v-for="todo in todos" v-bind:content="todo">

        </note>
    </div>
    <script>
        const vm = Vue.createApp({
            data(){
                return {
                    message: 'Hello world !',
                    todos: ['Dormir 6h', 'Boire un café', 'Aller marcher']
                    // todos: [
                    //     {id:0, content:'Sauver le monde'}, {id:1, content:'Aller manger'}
                    // ]
                }
            },
            methods:{
                inverser(){
                    this.todos.reverse();
                },
                ajouterNote(message){
                    this.todos.push(message);
                    
                }
            }
        })
        vm.component('note', {
            props: ['content'],
            template: `
            <p>{{content}}</p>
            `

        });
        vm.component('ajout', {
            props: [],
            emits: ['nouvellenote'],
            data(){
                return{
                    interne: 'Nouveau message'
                }
            },
            methods:{
                enregistrementNote(){
                    this.$emit('nouvellenote', this.interne);
                    this.interne = '';
                }
            },
            template: `
            <input type="text" v-model="interne" />
            <a href="#" @click="enregistrementNote" v-if="interne != ''">Ajouter</a>
            `

        })
        vm.mount('#app');
    </script>
</body>
</html>